extends layout

block content
  div(class="wrapper")
    if (!user)
      h1(class="production-dashboard-heading") Mitchell Cravens Production Dashboard
      div(class="login-container")
        a(href="/login", type="button" class="btn btn-primary") Login
    if (user)
      div(class="header")
        span(class="page-title") Production Dashboard
        a(href="/logout") Logout
      div(class="do-api-resp")
        ul
          each val in dropletsInfo
            li(class="each-droplet")
              div(class="droplet-info")
                a(href=val.ip, target="_blank")= val.name
              
            
